/* body:hover  #circle{
    opacity: 1;
} */


#circle{
    width:20px;
    height:20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    /* opacity: 0; */
}

